
<link rel="stylesheet" href="/assets/style.css">

<%- include('partials/Header.ejs') %>.


<div class="back_btn">
    <a href="/routes">â†BACK</a>
</div>
<form class="blog_form" action="/routes/newpost" method="post">
    <h2>New Post</h2>

    <label for="title">Title</label>
    <input type="text" name="title" value="" >

    <label for="content">Content</label>
    <textarea name="content"  cols="30" rows="10"></textarea>
    <button class="submit_btn" type="submit">Post</button>


</form>

<%- include('partials/Footer.ejs') %>.



<script type="module">
    import { marked } from "https://cdn.jsdelivr.net/npm/marked/lib/marked.esm.js";
    document.getElementById('content').innerHTML =
      marked.parse('# Marked in the browser\n\nRendered by **marked**.');
  </script>



