*{
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    height: 70px;
    gap: 40px;
    padding-left: 40px;
    background-color: rgb(244, 244, 244);


}
.nav_links{
    display: flex;
    gap: 20px;
}
 a{
    text-decoration: none;
    color: grey;
    cursor: pointer;
    font-size: 1.3em;
}
nav ul a:hover{
    color: black;
}

.sidebar_links{
    display: flex;
    transition: all .7s;
    height: 0;
    flex-direction: column;
    gap: 15px;
    overflow: hidden;
    padding-top: 20px;
    padding: 20px 0 0 40px;
    background-color: rgb(244, 244, 244);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.menu{
    display: flex;
    flex-direction: column;
    border: 2px solid blue;
    width: 50px;
    height: 40px;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    display: none;

}

.menu span{
    width:26px;
    border: 2px solid gray;
    height: 10px;
    border-top: none;
    border-left: none;
    border-right: none;

}
.active{
    height: 200px;
}
.img{
    border-radius: 20px;
}
.back_btn a{
    color: black;
    font-size: 1em;
    text-decoration: underline;

}
.back_btn{
    margin-left: 30px;
}
.blog_form{
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 500px;
    margin: 0 auto;
}
input{
    width: 100%;
    height: 30px;
    padding-left: 40px;
    font-size: 1em;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
}
.submit_btn, .update_btn{
    width: 100px;
    height: 40px;
    background-color: black;
    color: white;
    border-style: none;
    margin-top: 10px;
    cursor: pointer;
}
input[type = "text"]{
    margin-bottom: 10px;
}
textarea{
    border: 2px solid black;
    padding: 30px;
    font-size: 1.3em;
    outline: none;

}
label{
    font-weight: 900;
}
.blog_form h2{
    margin-bottom: 20px;
}
.new_postbtn{
    width: 200px;
    height: 40px;
    background-color: rgb(0, 133, 222);
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
}
.new_postbtn a, .read_morebtn a,.delete_btn a{
    color: white;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.intro_heading{
    margin-top: 25px;
}
.description{
    height: 40px;
    overflow: hidden;
    color: gray;
    font-size: .9em;
}
.read_blog{
    padding-left: 50px;
}

.read_morebtn, .delete_btn{
    width: 100px;
    height: 30px;
    background-color: rgba(8, 158, 63, 0.883);
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    color: white;
}
.delete_btn{
    background-color: red;
}
.read_morebtn a, .delete_btn {
    font-size: .9em;
    
}
.action_btns{
    display: flex;
    gap: 10px;
    align-items: center;
}
.blog{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
    width: 600px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    transition: all .7s;
}
.blog_section{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
.edit_btn{
    color: black;
    font-size: 1em;
    width: 90px;
    height: 40px;
}
.edit_btn a{
    color: black;
    font-size: 1em;
}

.blog_title{
    margin: 40px 0 0 0;
    width: 400px;
}

.blog_content{
    margin: 40px 0 10px 0;
    height: fit-content;
    padding: 40px;
    font-size: 1.2em;
    width: 600px;       
}
.blog_title, .blog_date,.edit_btn{
    margin-left: 40px;
}
.blog_date{
    color: gray;
    font-size: .9em;
}
.edit_btn{
    color: black;
    font-size: 1em;
    width: 90px;
    height: 40px;
}
.edit_btn a{
    color: black;
    font-size: 1em;
}
 .back_btn{
    color: black;
    font-size: 1em;
    text-decoration: underline;
    margin-left: 45px;
}
.img{
    margin-top: 20px;
}
.readmore{
    padding-bottom: 40px;
}
.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    width: 100%;
    height: 70px;
    text-align: center;
    margin-top: 20px;
    padding-top: 30px;
    background-color: rgb(244, 244, 244);
    padding-bottom: 0;


}

@media (max-width:710px) {
    header{
        justify-content: space-between;
    }
    .menu{
        display: flex;
        margin-right:40px ;
    }
    .navbar{
        display: none;
    }
    .img{
        width: 100%;
        border-radius: 0px;
    }
    .blog, .blog_form, .blog_content{
        width: 100%;
    }

}